.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--canvas);
    color: var(--text-primary);
}

.content {
    flex: 1;
    overflow: hidden;
    display: flex;
}
